{% extends "dashboard.html" %}
{% block title %} Daily Update {% endblock %}
    
{% block main-content %}
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-10 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Daily Update</h5>
            <form class="form-dailyUpdate" method="POST" id="dailyUpdate-form">
            {% csrf_token %}

            <div class="row">
              <div class="form-label-group col-sm-6">
                {{ form.date }}
              </div>
              <div class="form-label-group col-sm-6">
                {{ form.total_workers }}
              </div>
            </div>
            
            <div class="row">
              <div class="form-label-group col-sm-6">
                {{ form.male_coolie }}
              </div>

              <div class="form-label-group col-sm-6">
                {{ form.female_coolie }}
              </div>  
            </div>

            <div class="row">
              <div class="form-label-group col-sm-6">
                {{ form.mason }}
              </div>

              <div class="form-label-group col-sm-6">
                {{ form.centrinc_fitter }}
              </div>
            </div>

            <div class="form-label-group">
              <div class="btn-group">
              {{ form.materials_purchased }}
              </div>
            </div>

            <div class="form-label-group">
              {{ form.material_details }}
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    
  {% endblock %}

