{% extends "dashboard.html" %}
{% block title %} Add Site {% endblock %}

{% block main-content %}
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Add Site</h5>
            <form class="form-addsite" method="POST" id="addsite-form">
            {% csrf_token %}
            <div class="form-label-group">
            {{ form.name }}
            </div>

            <div class="form-label-group">
              {{ form.location }}
            </div>

            <div class="form-label-group">
              {{ form.description }}
            </div>

            <div class="form-label-group">
             {{ form.date }}
            </div>
            <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

