{% extends "full_base.html" %}
{% load static %}
    
{% block title %} Login {% endblock %}
{% block head %}
  <style>
    body {
            background-image: url('{% static "image/586.jpg"%}');
            height: 100%; 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          
  </style>
{% endblock %}

    
{% block content %}
    <div class="row">
      <div class="col-7 col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Log In</h5>
            <form class="form-signin" method="POST" id="login-form">
              {% for message in messages %}
              <div class="alert alert-danger">
              <a class="close" href="#" data-dismiss="alert">x</a>
                {{ message }}
              </div>
              {% endfor %}
              {% csrf_token %}
              <div class="form-label-group">
               {{ form.username }}
              </div>

              <div class="form-label-group">
                {{ form.password }}
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log in</button>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

