:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}

.card-signin .card-body {
  padding: 2rem;
  width:100%;
  height:auto;
}

.form-addsite {
  width: 100%;
}

.form-addsite .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.row.content {height: 1500px}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .card-body, .btn{
    width: 60%;
    display: block;
    margin-bottom: 20px;
  }
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}

